{
	admin off
	auto_https disable_redirects
	default_sni {$PANEL_PUBLIC_IP}
}

https://{$PANEL_PUBLIC_IP} {
	tls {
		issuer acme {
			profile shortlived
			disable_http_challenge
		}
	}

	header Strict-Transport-Security "max-age=31536000"

	redir /dedodaded /dedodaded/ 308

	handle /dedodaded/* {
		reverse_proxy panel:8080
	}

	respond 404
}
